<div class="WhyChooseUs">
 
    <div class="WhyChooseUs-left">
        <div class="WhyChooseUs-image">
            <img src="img/why-1.jpg" alt="Exordinary Taste">
            <img src="img/why-2.jpg" alt="Exordinary Taste">
            <img src="img/why-3.jpg" alt="Exordinary Taste">
            <img src="img/why-4.jpg" alt="Exordinary Taste">
            <img src="img/why-5.jpg" alt="Exordinary Taste">
            <img src="img/why-6.jpg" alt="Exordinary Taste">
        </div>
    </div>
 
    <div class="WhyChooseUs-right">
        <div class="WhyChooseUs-title">
            <h3 class="WhyChooseUs-subtitle">Why Choose Us</h3>
            <h1 class="WhyChooseUs-maintitle"><span>Ex</span>tra ordinary taste
                And Experienced </h1>
        </div>
 
        <div class="WhyChooseUs-description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque diam pellentesque bibendum non dui
                volutpat
                fringilla bibendum. Urna, elit augue urna, vitae feugiat pretium donec id elementum. Ultrices mattis sed
                vitae mus risus. Lacus nisi, et ac dapibus sit eu velit in consequat.</p>
        </div>
 
        <div class="WhyChooseUs-list">
            <div class="WhyChooseUs-item">
                <div class="iteamBack">
                    <img src="img/Hamburger.png" alt="Icon">
                </div>
                <p class="WhyChooseUs-item-title">Fast Food</p>
            </div>
            <div class="WhyChooseUs-item">
                <div class="iteamBack">
                    <img src="img/Cookie.png" alt="Icon">
                </div>
                <p class="WhyChooseUs-item-title">Lunch</p>
            </div>
            <div class="WhyChooseUs-item">
                <div class="iteamBack">
                    <img src="img/Wine.png" alt="Icon">
                </div>
                <p class="WhyChooseUs-item-title">Dinner</p>
            </div>
 
 
        </div>
 
        <div class="YearsofExperience">
            <img src="img/years.png" alt="">
        </div>
 
    </div>