<div class="aboutus-container">
 
  <div class="aboutus-main">

   

      <div class="aboutus-images">

          <div class="aboutus-image-large">
              <img src="img/aboutus-img1.jpg" alt="Delicious Tacos">
          </div>


          <div class="aboutus-image-small">
              <img src="img/aboutus-img2.jpg" alt="Crispy Fried">
              <img src="img/aboutus-img3.jpg" alt="Healthy Salad">
          </div>
      </div>


      <div class="aboutus-right">
          <h3 class="aboutus-subtitle">About us</h3>
          <h1 class="aboutus-title">Food is an important part Of a balanced Diet</h1>
          <p class="aboutus-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque diam pellentesque bibendum non dui
              volutpat fringilla bibendum. Urna, elit augue urna, vitae feugiat pretium donec id elementum.
          </p>


          <div class="aboutus-buttons">
              <button class="btn-showmore">Show More</button>
              <div class="play-video">
                  <button class="btn-play">&#9654;</button>
                  <span>Watch Video</span>
              </div>
          </div>
      </div>
  </div>


  <div class="why-choose-us">
      <div class="why-choose-us-title">
          <h3 class="why-choose-us-subtitle">Why Choose Us</h3>
          <p class="why-choose-us-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque diam
              pellentesque bibendum non dui volutpat fringilla bibendum. </p>
      </div>


      <div class="why-back-img">

      </div>

      <div class="why-icons-list">
          <div class="why-icon-1">
              <img src="/img/Student.png" alt="Icon">
              <p class="why-icon-title">Best Chef</p>
              <p class="why-icon-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque diam
                  pellentesque bibendum non dui volutpat </p>
          </div>

          <div class="why-icon-2">
              <img src="/img/Coffee.png" alt="Icon">
              <p class="why-icon-title">120 Item food</p>
              <p class="why-icon-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque diam

          </div>

          <div class="why-icon-3">
              <img src="/img/Person.png" alt="Icon">
              <p class="why-icon-title">Clean Environment</p>
              <p class="why-icon-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque diam

          </div>


      </div>
  </div>

  <div class="teammembers-container">
      <div class="team-member">
          <div class="team-member-overlay">

              <div class="team-member-title">
                  <h3 class="team-member-subtitle">Team Member</h3>
                  <p class="team-member-description">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Varius sed pharetra dictum neque massa
                      congue.
                  </p>
              </div>

              <div class="team-cards">

                  <div class="team-card">
                      <div class="team-card-image">
                          <img src="/img/team-members-1.jpg" alt="Mark Henry">
                      </div>
                      <h4 class="team-card-name">Mark Henry</h4>
                      <p class="team-card-role">Owner</p>

                  </div>


                  <div class="team-card">
                      <div class="team-card-image">
                          <img src="/img/team-members-1.jpg" alt="Lucky Helen">
                      </div>
                      <h4 class="team-card-name">Lucky Helen</h4>
                      <p class="team-card-role">Chef</p>

                  </div>


                  <div class="team-card">
                      <div class="team-card-image">
                          <img src="/img/team-members-1.jpg" alt="Moon Henry">
                      </div>
                      <h4 class="team-card-name">Moon Henry</h4>
                      <p class="team-card-role">Founder</p>

                  </div>


                  <div class="team-card">
                      <div class="team-card-image">
                          <img src="/img/team-members-1.jpg" alt="Tom Monrow">
                      </div>
                      <h4 class="team-card-name">Tom Monrow</h4>
                      <p class="team-card-role">Specialist</p>

                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- <app-testimonials></app-testimonials> -->


</div>