<div class="nav-bar">
  <div class="content">
    <div class="logo" (click)="Handlelogoclick()">
      <p>Food<span>tuck</span></p>
    </div>
    <div class="hamburger" (click)="toggleMenu()">
      <div></div>
      <div></div>
      <div></div>
      <!-- Elements to toggle -->
    </div>
    <div class="elements" [style.display]="isMenuOpen ? 'flex' : 'none'">
      <a href="/">Home</a>
      <a href="/menu">Menu</a>
      <a href="/aboutus">About</a>
      <a href="/blog">Blog</a>
      
      <a href="/shop">Shop</a>
      @if(!isLoggedIn){
        <a href="/sign-up">Sign Up</a>
        <a href="/login">Log In</a>
      }
      @else {
        <a href="/cart" >Cart</a>
        <a href="/" (click)="logout()">Log Out</a>
      }
    </div>
    <div class="menu">
      <a href="/">Home</a>
      <a href="/menu">Menu</a>
      <a href="/aboutus">About</a>
      <a href="/blog">Blog</a>
    
      <a href="/shop">Shop</a>
      @if(!isLoggedIn){
        <a href="/sign-up">Sign Up</a>
        <a href="/login">Log In</a>
      }
      @else {
        <a href="/cart" >Cart</a>
        <a href="/" (click)="logout()">Log Out</a>
      }

    
    </div>
    <div class="vectos">
      <!-- <img src="/img/MagnifyingGlass.png" alt="" /> -->
      <img src="/img/User.png" alt="image" (click)="toggleSidebar()" />
      <div class="cart-icon-container" (click)="routetoCart()">
        <img src="/img/Tote.png" alt="Cart Icon" />
        <div class="cart-count-badge" *ngIf="cartItems.length>0">
          {{ cartItems.length }}
        </div>
      </div>
    </div>
    <div class="sidebar" [class.open]="isSidebarOpen">
      <div class="sidebar-header">
        <h2>Profile</h2>
        <button (click)="toggleSidebar()">X</button>
      </div>
      <div class="sidebar-content">
        <p>Welcome, {{ userName }}</p>
      </div>
      <div class="sidebar-footer">
        
        @if(!isLoggedIn){
          <button class="logout-btn" (click)="routetologin()">Log in</button>
        }
        @else {
          <button class="logout-btn" (click)="logout()">Log Out</button>
        }
      </div>
    </div>
  </div>
</div>
