<div class="outerdiv">
  <div class="innerdiv">
    <div class="left">
        <img src="/img/Coffee.png" />
      <h1 class="statermenu">Main Course</h1>
      <div class="component">
        <div class="componentleft">
          <p class="componentlefttitle">Optic Big Breakfast Combo Menu</p>
          <p class="componentleftdesci">
            Toasted French bread topped with romano, cheddar
          </p>
          <p class="componentleftcal">560 CAL</p>
        </div>
        <div class="componentright">
          <p class="componentrightprice">32$</p>
        </div>
      </div>
      <div class="component">
        <div class="componentleft">
          <p class="componentlefttitle">Cashew Chicken With Stir-Fry</p>
          <p class="componentleftdesci">
            Gorgonzola, ricotta, mozzarella, taleggio
          </p>
          <p class="componentleftcal">700 CAL</p>
        </div>
        <div class="componentright">
          <p class="componentrightprice">43$</p>
        </div>
      </div>
      <div class="component">
        <div class="componentleft">
          <p class="componentlefttitle"> Vegetables & Green Salad</p>
          <p class="componentleftdesci">
            Ground cumin, avocados, peeled and cubed
          </p>
          <p class="componentleftcal">1000 CAL</p>
        </div>
        <div class="componentright">
          <p class="componentrightprice">14$</p>
        </div>
      </div>
      <div class="component">
        <div class="componentleft">
          <p class="componentlefttitle">Spicy Vegan Potato Curry</p>
          <p class="componentleftdesci">
            Spreadable cream cheese, crumbled blue cheese
          </p>
          <p class="componentleftcal">560 CAL</p>
        </div>
        <div class="componentrightprice">
          <p class="componentrightprice">35$</p>
        </div>
      </div>
      
    </div>
    <div class="right">
        <img src="/img/unsplash_-GFCYhoRe48.png" />
    </div>
  </div>
</div>
