.food-items {
    width: 100%;
    height: auto;
    background-color: #0d0d0d;
  }
  
  .food-items-main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .food-items-main > h4 {
    margin: 0;
    color: #ff9f0d;
    font-family: "Great Vibes", serif;
    font-size: 25px;
  }
  
  .food-items-main > h1 {
    color: #fff;
    margin: 0;
    font-family: "Inter";
    font-size: 48px;
  }
  
  .foodC > span {
    color: #ff9f0d;
  }
  
  .food-items-list {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 40px;
    box-sizing: border-box;
  }
  
  .items-list {
    display: contents;
  }
  
  .image-container {
   
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  .image-container img{
    height: 450px;
    width:315px;
    object-fit: cover;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  @media screen and (max-width: 768px) {
    .food-items-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media screen and (max-width: 480px) {
    .food-items-main {
      padding-top: 1rem;
    }
    .food-items-main > h4 {
      margin-top: 22px;
    }
    .food-items-main > h1 {
      text-align: center;
      font-size: 28px;
    }
    .food-items-list {
      grid-template-columns: repeat(1, 1fr);
      gap: 10px;
    }
    

    .image-container>img{
      height:220px;
    }
  }
  