<div class="food-process-section">
    <div class="content">
        <h4>Restaurant Active Process</h4>
        <h1>
            <span>We</span> Document Every Food<br>
            Bean Process until it is saved
        </h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque diam pellentesque
            bibendum non dui volutpat fringilla bibendum. Urna, elit augue urna.
        </p>
        <div class="buttons">
            <a href="#" class="read-more">Read More</a>
            <a href="https://youtu.be/kRCH8kD1GD0?si=jhylp0b18_eAnCAH" class="play-video">
                <span class="play-icon">▶</span> Play Video
            </a>
        </div>
    </div>
</div>