<div class="food-tuck">
  <div class="gradient">
    <app-navbar></app-navbar>

    <div class="food-tuck-main">
      <div class="food-tuck-main-container">
        <div class="food-left">
          <div class="food-left-content">
            <h4>Its Quick & Amusing!</h4>
            <h1 class="The-art-title">
              <span>T</span>he Art of speed food Quality
            </h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Varius
              sed pharetra dictum neque massa congue
            </p>
            <button class="seemore" (click)="routetoabout()">See More</button>
          </div>
        </div>
        <div class="food-right">
          <img src="/img/1.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
