<div class="NumbersMain">
    <div class="Numbers-container">
        <div class="numbers-1">
            <img src="/img/Group.png" alt="">
            <h2>Professional Chefs</h2>
            <h1>420</h1>
        </div>
        <div class="numbers-2">
            <img src="/img/Group (1).png" alt="">
            <h2>Items Of Food</h2>
            <h1>320</h1>
        </div>
        <div class="numbers-3">
            <img src="/img/Group (2).png" alt="">
            <h2>Years Of Experienced</h2>
            <h1>30+</h1>
        </div>
        <div class="numbers-4">
            <img src="/img/Group (3).png" alt="">
            <h2>Happy Customers</h2>
            <h1>220</h1>
        </div>
    </div>
</div>