.outerdiv {
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: 8%
  }
  
  .innerdiv {
    width: 424px;
    padding: 34px 46px;
    box-shadow: 4px 4px 10px 5px rgba(185, 20, 83, 0.1);
  }
  
  .innerdiv h1 {
    font-family: Helvetica;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 13px;
  }
  
  .inputdetails {
    height: 35px;
    border: 1px solid;
    border-style: ridge;
    display: flex;
    padding: 2px;
    gap: 1rem;
    margin: 10px 0px;
  }
  
  .inputdetails input {
    width: 100%;
    border: none;
  }
  
  .inputdetails input:focus {
    border: none;
    outline: none;
  }
  
  .form-group {
    margin: 15px 0;
    font-family: Helvetica;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
  }
  
  input[type="checkbox"] {
    accent-color: #ff9f0d;
  }
  
  .signup button {
    width: 100%;
    height: 40px;
    background-color: #ff9f0d;
    color: white;
    font-family: Helvetica;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
  }
  
  .signup button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .forgot-password {
    font-family: Helvetica;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    padding: 10px 0;
    display: flex;
    justify-content: end;
    color: #828282;
  }
  
  .error-message {
    color: red;
    font-size: 16px;
  }
  
  .custom-spinner {
    width: 70px;
    height: 70px;
    border: 10px solid #f3f3f3; /* Light background */
    border-top: 10px solid #ff9f0d; /* Blue color */
    border-radius: 50%;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }