<div class="testimonials-container">
    <div class="testimonials-header">
        <h2 class="testimonials-title">Testimonials</h2>
        <h1 class="testimonials-subtitle">What our client are saying</h1>
    </div>
 
 
    <div class="testimonials-list">
        <div class="testimonials-card">
            <div class="testimonials-image">
 
            </div>
 
            <img src="/img/Quotes.png" alt="">
 
            <div class="testimonials-content">
                <p class="testimonials-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque diam pellentesque bibendum non dui
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque diam pellentesque bibendum non dui
                </p>
                <img src="/img/star.png" alt="">
                <h3 class="testimonials-name">Alamin Hasan</h3>
                <p class="testimonials-job">Food Specialist</p>
 
            </div>
        </div>
    </div>
 
</div>