<div class="container">
  <div class="title">Filter By Menu</div>
  <div class="products-list">

 
  <div class="products">
    <img src="/img/unsplash_J9lD6FS6_cs.png" />
    <div class="product-names">

        <p class="name">Chicken Fry</p>
        <p class="price">26</p>
    </div>
  </div>
  <div class="products">
    <img src="/img/unsplash_J9lD6FS6_cs.png" />
    <div class="product-names">
        <p class="name">Burger Food</p>
        <p class="price">46</p>
    </div>
  </div>
  <div class="products">
    <img src="/img/unsplash_J9lD6FS6_cs.png" />
    <div class="product-names">

        <p class="name">pizza</p>
        <p class="price">46</p>
    </div>
  </div>
  <!-- <div class="products">
    <img src="/img/unsplash_J9lD6FS6_cs.png" />
    <p class="name">Pizza</p>
    <p class="price">16</p>
  </div> -->

</div>
</div>
